.button-wrp .ant-card,
.modals-wrp .ant-card {
  margin-bottom: 10px;
}
.button-wrp .ant-btn,
.modals-wrp .ant-btn {
  margin-right: 8px;
}
.button-wrp .ant-btn-group .ant-btn,
.modals-wrp .ant-btn-group .ant-btn {
  margin-right: 0;
}
